:root {
  --background: hsl(0, 0%, 100%);
  --background-pattern: hsl(225, 100%, 98%);
  --background-card: hsl(227, 47%, 96%);
  --background-card___hover: hsl(227, 47%, 92%);
  --text-light: hsl(228, 12%, 44%);
  --text-dark: hsl(230, 17%, 14%);
}

[data-theme="dark"] {
  --background: hsl(230, 17%, 14%);
  --background-pattern: hsl(232, 19%, 15%);
  --background-card: hsl(228, 28%, 20%);
  --background-card___hover: hsl(228, 28%, 28%);
  --text-light: hsl(228, 34%, 66%);
  --text-dark: hsl(0, 0%, 100%);
}

$text-up: hsl(163, 72%, 41%);
$text-down: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(0.25turn, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$youTube: hsl(348, 97%, 39%);

$background: var(--background);
$background-pattern: var(--background-pattern);
$background-card: var(--background-card);
$background-card___hover: var(--background-card___hover);
$text-dark: var(--text-dark);
$text-light: var(--text-light);

$toggle-background: hsl(230, 22%, 74%);
$toggle-background-checked: linear-gradient(
  0.25turn,
  hsl(210, 78%, 56%),
  hsl(146, 68%, 55%)
);

$mobile_breakpoint: 375px;
