:root {
  --background: hsl(0, 0%, 100%);
  --background___pattern: hsl(225, 100%, 98%);
  --background__card: hsl(227, 47%, 96%);
  --text___dark: hsl(228, 12%, 44%);
  --text___light: hsl(230, 17%, 14%);
  --toggle__background: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

[data-theme="dark"] {
  --background: hsl(230, 17%, 14%);
  --background___pattern: hsl(232, 19%, 15%);
  --background__card: hsl(228, 28%, 20%);
  --text___dark: hsl(228, 34%, 66%);
  --text___light: hsl(0, 0%, 100%);
  --toggle__background: hsl(230, 22%, 74%);
}

body {
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
