.social_cards {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.social_card {
  $border: 4px;

  position: relative;
  flex: 0 0 calc(25% - 30px);
  overflow: hidden;
  box-sizing: border-box;
  margin: 15px;
  padding: 30px 25px;
  text-align: center;
  border-radius: $border;
  background-color: $background-card;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $background-card___hover;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $border;
  }

  @media (max-width: $mobile_breakpoint) {
    flex: 0 0 calc(100% - 30px);
  }
}

.social_card__social_detail {
  margin-bottom: 20px;
  line-height: 1.4rem;
  font-size: 0.9rem;
  font-weight: 700;
  img {
    margin-right: 8px;
  }
}

.social_card__social_count {
  font-size: 4rem;
  font-weight: 700;
  color: $text-dark;
}

.social_card__social_count_suffix {
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.social_card__social_count_change {
  display: inline-flex;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 10px;
}

.social_card__social_count_change___up {
  color: $text-up;
  background-image: url(../../images/icon-up.svg);
}

.social_card__social_count_change___down {
  color: $text-down;
  background-image: url(../../images/icon-down.svg);
}

.social_card___facebook::before {
  background-color: $facebook;
}
.social_card___twitter::before {
  background-color: $twitter;
}
.social_card___instagram::before {
  background: $instagram;
}
.social_card___youTube::before {
  background: $youTube;
}

.social_card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.social_card__footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
