:root {
  font-size: 14px;
}

html,
body {
  height: 100%;
}

a,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Helvetica, Arial, Verdana, sans-serif;
  background-color: $background;
  color: $text-light;
  font-size: 1rem;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 375px) {
    margin: 25px;
  }
}

h1,
h2,
h3 {
  color: $text-dark;
  font-weight: 700;
}

h1 {
  margin-bottom: 0.6rem;
  font-size: 2.2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
}

h3 {
  font-size: 2.2rem;
}

a {
  text-decoration: unset;
  color: unset;
}

img {
  vertical-align: middle;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
